 {{!-- <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/registerOwner">Owner</a>
  <a href="/registerSitter">Sitter</a>
  <a href="/About">About</a>
</div> --}}
<title>About</title>
<Header>
  <H1>About</H1>
</Header>


<Body>
<p>Bark is a pet services web application that provides people with a way to connect dog sitters with dogs that need sitting.</p>
<p>Developed by Computer Science students at Stevens Institute of Technology, Bark stands out from the competition by simplifying our UI. <br>Our competitors have a much busier and complicated UI and offer multiple services. With Bark, We focus on one thing and do it better than anyone else. <br>We also offer sitters a greater incentive but only taking a flat 2% from the booking fee compared to Rover which takes 5-7%.</p>

<p>Bark also has a large and varying target audience to attract. There are dog owners and lovers of every age demographic. We aim to drill down on the <br> next generation of dog owners/lovers, disrupting the entire dog walking ecosystem. Creating a holistic view of dog walkers/owners around the world <br> in building a network and dynamic virtual platform to fill pain points for all of your dog walking needs.</p>

<h4>Developed by:</h4>
<ul class="boys">
    <li>Jesse Segall</li>
    <li>Eric Knapp</li>
    <li>Ryan Knapp</li>
    <li>Terrance Peters</li>
    <li>Bhavin Mistry</li>
</ul>

</Body>

<link rel="stylesheet" href="/public/styles.css" />