 <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/registerOwner">Owner</a>
  <a href="/registerSitter">Sitter</a>
  <a href="/About">About</a>
</div>
<title>About</title>
<H1>About</H1>

<Body>
<p>Bark is a pet services application etc...</p>

<h4>Developed by:</h4>
<ul class="boys">
    <li>Jesse Segall</li>
    <li>Eric Knapp</li>
    <li>Ryan Knapp</li>
    <li>Terrance Peters</li>
    <li>Bhavin Mistry</li>
</ul>

</Body>

<link rel="stylesheet" href="/public/styles.css" />