<Title>Landing Page</Title>
<Header class="redNote">note*** Need logo with background gone or background color #f4f4f4</Header>

<link rel="stylesheet" href="/public/css/styles.css" />

{{!-- within gray box --}}
<div class="grayBox">
<H2 class="landingH2">Welcome</H2>
<p class="p1_landing">At Bark we provide a cutting edge Pet Service Network (PSN) where we align dog lovers. Think Uber but work dog sitting/walking.</p>
    <div class="loginLanding">
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    </div>
<img src="public/image/BarkLogo.jpg" class="barkLogo" alt="." />
</div>