
 {{!-- <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/registerOwner">Owner</a>
  <a href="/registerSitter">Sitter</a>
  <a href="/About">About</a>
</div> --}}
      <h1 class="h1_reg_petOwner">Please Register Owner Below</h1>

    </div>
    <div class="innerContainer">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form
            id="form"
            action="/registerOwner"
            method="POST"
            role="form"
            enctype="application/x-www-form-urlencoded"
          >
            <legend>Enter Your Information Below</legend>
            <div class="form-group">
              <label for="first_name"> First Name</label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                id="first_name"
                placeholder="First Name"
                required
              />
              <div class="error"></div>
            </div>
            <br />
            <div class="form-group">
              <label for="last_name"> Last Name </label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                id="last_name"
                placeholder="Last Name"
                required
              />
              <div class="error"></div>
            </div>
            <br />
            <div class="form-group">
              <label for="user_name"> User Name </label>
              <input
                type="text"
                class="form-control"
                name="user_name"
                id="user_name"
                placeholder=" Username"
                required
              />
              <div class="error"></div>
            </div>
            <br />
            <div class="form-group">
              <label for="email"> Email Address </label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder=" Email Address"
                required
              />
              <div class="error"></div>
            </div>
            <br />
            <div class="form-group">
              <label for="password"> Password </label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="Password"
                required
              />
              <div class="error"></div>
            </div>
            <br />
            <div class="form-group">
              <label for="password_confm"> Re Enter Password </label>
              <input
                type="password"
                class="form-control"
                name="password_confm"
                id="password_confm"
                placeholder="Re enter your password"
                required
              />
              <div class="error"></div>
              <br />
            <div class="form-group">
              <label for="dog_name"> Dog Name </label>
              <input
                type="text"
                class="form-control"
                name="dog_name"
                id="dog_name"
                placeholder="Dog Name"
                required
              />
              <div class="error"></div>
              <br />
            <div class="form-group">
              <label for="dog_breed"> Dog Breed </label>
              <input
                type="text"
                class="form-control"
                name="dog_breed"
                id="dog_breed"
                placeholder="Dog Breed"
                required
              />
              <div class="error"></div>
              <br />
            <div class="form-group">
              <label for="dog_weight"> Dog Weight </label>
              <input
                type="text"
                class="form-control"
                name="dog_weight"
                id="dog_weight"
                placeholder="Dog Weight"
                required
              />
              <div class="error"></div>
              <br />
            <div class="form-group">
              <label for="dog_age"> Dog Age </label>
              <input
                type="text"
                class="form-control"
                name="dog_age"
                id="dog_age"
                placeholder="Dog Age"
                required
              />
              <div class="error"></div>
              <br />
            <div class="form-group">
              <label for="dog_difficulty"> Is your Dog difficult? </label>
              <input type="radio" name="dog_difficulty" id="dog_difficulty" value="yes" required/>
              <label for="dog_difficulty"> Yes </label>
              <input type="radio" name="dog_difficulty" id="dog_difficulty" value="no" required/>
              <label for="dog_difficulty">No</label>
              <div class="error"></div>
              <br />
              <button type="submit" class="Buttons">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <script src="public/js/register.js"></script>

