
<!DOCTYPE html>
<html lang="en">
 {{!-- <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/registerOwner">Owner</a>
  <a href="/registerSitter">Sitter</a>
  <a href="/About">About</a>
</div> --}}
<head>
    <meta charset="utf-8">

    <title>Search for Sitter</title>

    <link rel="stylesheet" href="/public/css/styles.css">

</head>

<body>
    <header>
        <a href="/" id="backToRegistration">Back to registration</a>
        <h1 id="searchSitterHeader"> Find a Sitter</h1>
    </header>

    <main class="sitterSearchMain">

        <form id="sitterSearchForm">
            <label for="search_term">Search for a sitter:</label>
            <input id="search_term" type="text" name="search_term" placeholder="Sitter Name" />
            <button type="submit">Search</button>
        </form>
        <ul id="sitterList"></ul>
        <li id="sitter"></li>
        {{!-- {{!-- <ul id="firstName"> {{sitterList.email}}</ul>
        {{!-- <div id="firstName"></div> --}}
        {{!-- <p id="firstName"></p> --}}
        <div id="lastName">{{lastName}}</div> --}}
        {{!-- <p>{{sitterList}}</p> --}}

        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

        <script src="/public/js/searchSitterAJAX.js"></script>

</body>

