<div class="container-fluid">
	<div class="row w-100 m-0 justify-content-center">
		<div class="row row-cols-2 row-cols-md-4">
			{{#each sitter}}
				<div class="col-auto mb-3">
					<div class="card" style="width: 300px;">
						<img src="public/image/no_image.jpeg" class="card-img-top" alt="Profile Picture" />
						<div class="card-body text-center">
							<h5 class="card-title">{{firstName}}</h5>
							<p class="card-text">Sitter price will go here.</p>
							<a href="/searchSitter/{{_id}}" class="btn btn-primary">View Profile</a>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>

 {{!-- Try this for images
 class="rounded-circle img-fluid" style="width: 150px;"> --}}