<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter By
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button id="price-high" class="dropdown-item" >Price High to Low</button>
   <button id="price-low" class="dropdown-item" >Price Low to High</button>
   <button id="dog-small" class="dropdown-item" >Accepts Small Dogs</button>
   <button id="dog-medium" class="dropdown-item" >Accepts Medium Dogs</button>
   <button id="dog-large" class="dropdown-item" >Accepts Large Dogs</button>
   <button id="dog-difficult" class="dropdown-item" >Accepts Difficult Dogs</button>
   <button id="remove-filters" class="dropdown-item" >Remove Filters</button>
  </div>
</div>

<div id="unordered-sitters" hidden class="container-fluid">
	<div class="row w-100 m-0 justify-content-center">
		<div id ="ajax-card" class="row row-cols-2 row-cols-md-4">
			
			
		</div>
	</div>
</div>
<div id="price-high-low" hidden class="container-fluid">
	<div class="row w-100 m-0 justify-content-center">
		<div id ="ajax-card-price-high" class="row row-cols-2 row-cols-md-4">
			
			
		</div>
	</div>
</div>

<div id="price-low-high" hidden class="container-fluid">
	<div class="row w-100 m-0 justify-content-center">
		<div id ="ajax-card-price-low" class="row row-cols-2 row-cols-md-4">
			
			
		</div>
	</div>
</div>



<div id="dog-small-sitters" hidden class="container-fluid">
	<div class="row w-100 m-0 justify-content-center">
		<div id ="ajax-card-dog-sm" class="row row-cols-2 row-cols-md-4">
			
			
		</div>
	</div>
</div>


<div id="dog-medium-sitters" hidden class="container-fluid">
	<div class="row w-100 m-0 justify-content-center">
		<div id ="ajax-card-dog-md" class="row row-cols-2 row-cols-md-4">
			
			
		</div>
	</div>
</div>

<div id="dog-large-sitters" hidden class="container-fluid">
	<div class="row w-100 m-0 justify-content-center">
		<div id ="ajax-card-dog-lg" class="row row-cols-2 row-cols-md-4">
			
			
		</div>
	</div>
</div>

<div id="dog-difficult-sitters" hidden class="container-fluid">
	<div class="row w-100 m-0 justify-content-center">
		<div id ="ajax-card-dog-diff" class="row row-cols-2 row-cols-md-4">
			
			
		</div>
	</div>
</div>



<script src="/public/js/sitterFilter.js"></script>
 {{!-- Try this for images
 class="rounded-circle img-fluid" style="width: 150px;"> --}}