<link rel="stylesheet" href="/public/styles.css" />
<div class="topnav">
	<a class="active" href="#home">Home</a>
	<a href="#owner_TBD">Owner</a>
	<a href="#Sitter_TBD">Sitter</a>
	<a href="#about_TBD">About</a>
</div>
<div class="OuterContainer">
	<div class="innerContainer">
		<h1 class="h1_reg_petOwner">Please Register Below</h1>
		<br />
		<br />
		<div class="errors">{{errors}}</div>
		<br />
		<br />
	</div>
	<div class="innerContainer">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<form
					id="form"
					action="/registerSitter"
					method="POST"
					role="form"
					enctype="application/x-www-form-urlencoded"
				>
					<legend>Enter Your Information Below</legend>
					<div class="form-group">
						<label for="first_name"> First Name</label>
						<input
							type="text"
							class="form-control"
							name="first_name"
							id="first_name"
							placeholder="First Name"
							required
						/>
						<div class="error"></div>
					</div>
					<br />
					<div class="form-group">
						<label for="last_name"> Last Name </label>
						<input
							type="text"
							class="form-control"
							name="last_name"
							id="last_name"
							placeholder="Last Name"
							required
						/>
						<div class="error"></div>
					</div>
					<br />
					<div class="form-group">
						<label for="user_name"> User Name </label>
						<input
							type="text"
							class="form-control"
							name="user_name"
							id="user_name"
							placeholder=" Username"
							required
						/>
						<div class="error"></div>
					</div>
					<br />
					<div class="form-group">
						<label for="email"> Email Address </label>
						<input
							type="email"
							class="form-control"
							name="email"
							id="email"
							placeholder=" Email Address"
							required
						/>
						<div class="error"></div>
					</div>
					<br />
					<div class="form-group">
						<label for="password"> Password </label>
						<input
							type="password"
							class="form-control"
							name="password"
							id="password"
							placeholder="Password"
							required
						/>
						<div class="error"></div>
					</div>
					<br />
					<div class="form-group">
						<label for="password_confm"> Re Enter Password </label>
						<input
							type="password"
							class="form-control"
							name="password_confm"
							id="password_confm"
							placeholder="Re enter your password"
							required
						/>
						<div class="error"></div>
						<br />
						<button type="submit" class="Buttons">Register</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
<script src="public/js/register.js"></script>