<div id="testHide" class="test">
	<section id = "ownerReviews">
		<p>test</p>
		<form id="postReview" method="post">
			<button type="submit">Click me</button>
		</form>
	</section>
</div>
	    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
	<script src="/public/js/reviews.js"></script>