<p>Thank you for choosing Bark!</p>
<br />
<p>Are you a pet owner or a pet sitter?</p>
<button type="submit" id="ownerBtn">Pet Owner</button>
<button type="submit" id="sitterBtn">Pet Sitter</button>

<script>
  document.getElementById('ownerBtn').onclick = function (){ location.href =
  'http://localhost:3000/registerOwner' }
</script>
<script>
  document.getElementById('sitterBtn').onclick = function (){ location.href =
  'http://localhost:3000/registerSitter' }
</script>