/* body {
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	font-family: "Poppins", sans-serif;
} */

body {
	background: #f4f4f4;
	font-family: Helvetica;
}

#form {
	width: 300px;
	margin: 20vh auto 0 auto;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 4px;
	font-size: 12px;
}

#form h1 {
	color: #0f2027;
	text-align: center;
}

#form button {
	padding: 10px;
	margin-top: 10px;
	width: 100%;
	color: white;
	background-color: rgb(41, 57, 194);
	border: none;
	border-radius: 4px;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-group input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-group input:focus {
	outline: 0;
}

.form-group.success input {
	border-color: #09c372;
}

.form-group.error input {
	border-color: #ff3860;
}

.form-group .error {
	color: #ff3860;
	font-size: 9px;
	height: 13px;
}
.erros {
	text-align: center;
	text-emphasis-color: #ff3860;
}
#sitterSearchForm {
	color: #0f0f0f;
	max-width: 30%;
	margin: auto;
	padding-top: 1cm;
}

#searchSitterHeader {
	color: #0f0f0f;
	font-size: 36;
	max-width: 30%;
	margin: auto;
}

#backToRegistration {
	color: purple;
	font-weight: bolder;
}

#findSitter {
	margin: auto;
	max-width: 30%;
}

#sitterList {
	padding-top: 0.5cm;
	margin: auto;
	max-width: 20%;
	color: #0f0f0f;
	font-size: 20px;
}

#sitterProfileHeader {
	font-size: 60px;
	max-width: 100%;
	color: #0f0f0f;
}
a{ 
	color: #0f0f0f;
}

#sitterInfo {
	max-width: 30%;
	margin: auto;
}

#sitter{ 
	color: #0f0f0f;
}
ul{ 
	color: #0f0f0f;
}

.h1_Landing {
	color: #0f0f0f;
	font-size: 35pt;
}

.pp1 {
	color: #0f0f0f;
}

.pp2 {
	color: #0f0f0f;
	font-style: italic;
	padding: 0%;
	display: inline;
}

.OwnerOrSitter {
	text-align: center;
	padding-top: 90pt;
}

.h1_reg_petOwner {
	color: #0f0f0f;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	overflow: hidden;
	max-width: 100%;
	margin: auto;
}

.topnav a {
	float: left;
	color: #0f0f0f;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: #0f0f0f;
}

/* .topnav a.active {
  background-color: #04AA6D;
  color: white;
} */

.boys {
	color: #0f0f0f;
}

p {
	color: #0f0f0f;
}

h4 {
	color: #0f0f0f;
}

h1{
color: #0f0f0f;
display: inline;
}

h1 {
	color: #0f0f0f;
	display: inline;
}

.card {
	border: 1px solid rgb(0, 0, 0);
	/* background-color: #2f815f; */
	/* background-color: #fdbf12; */
	background-color: #9e7100;
	padding: 20px;
	margin-bottom: 10px;
}

.form-control{
	size:10pt;
	width: auto;
}

#sitterCard{ 
	margin: auto
}

#reqSubmit{ 
	margin: auto;
	text-align: center;
	padding-top: 2in;
}