body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: "Poppins", sans-serif;
}

#form {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 12px;
}

#form h1 {
  color: #0f2027;
  text-align: center;
}

#form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(41, 57, 194);
  border: none;
  border-radius: 4px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.input-group input:focus {
  outline: 0;
}

.form-group.success input {
  border-color: #09c372;
}

.form-group.error input {
  border-color: #ff3860;
}

.form-group .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

#sitterSearchForm { 
  color: white;
  max-width: 50%;
  margin: auto;
}

#searchSitterHeader{ 
  color: white;
  font-size: 36;
  max-width: 30%;
  margin: auto;
}

#backToRegistration{ 
  color: purple;
  font-weight: bolder;
}

